<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LIANA</title>
    <link rel="icon" type="image/png" href="~/Content/Liana.png">
    <script src="https://kit.fontawesome.com/32b02e47e2.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <!-- ====== Header ====== -->
    <header class="header">
        <nav class="navbar">
            <div class="nav-list d-flex">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="PaginaMujeres">Mujer</a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="PaginaHombres">Hombre</a>
                <a href="#">Tendencias</a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="CatalogoBolsos">Accesorios</a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="UserList">Lista de usuarios</a>
            </div>
        </nav>
        <div class="logo">
            <a href="~/Home/Index" class="liana">LIANA</a>
        </div>
        <div class="search-container">
            <i class="fas fa-search search-icon"></i>
            <input type="text" class="search-input" placeholder="BUSCAR">
        </div>
        <div class="fa-solid fa-bars" id="menu-bar"></div>
        <div class="usuario">
            <a class="fa-solid fa-user" asp-area="" asp-controller="Home" asp-action="PaginaInicioSesion"></a>
        </div>
        <div class="carrito">
            <a class="fa-solid fa-cart-shopping" asp-area="" asp-controller="Home" asp-action="Pagina3"></a>
        </div>
    </header> 

    <!-- ====== Main Content ====== -->
    <div class="container">
        @RenderBody() <!-- Aquí se incrustará el contenido de cada vista específica -->
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>online shop</h4>
                    <ul>
                        <li><a href="#">watch</a></li>
                        <li><a href="#">bag</a></li>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">dress</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection("Styles", required: false)

</body>
</html>
