@{
    ViewData["Title"] = "Joyeria";
}

@section Styles{
    <link rel="stylesheet" href="~/css/StylesCatalogo.css" />
}

<!-- ====== Productos ====== -->
<div class="product-container">
    <div class="product">
        <a class="mujeresTexto" asp-area="" asp-controller="Home" asp-action="CatalogoBolsos">
            <img src="~/Imagenes/Accesorios/Bolsos.png">
            <div class="product-text">
                <p>BOLSOS</p>
            </div>
        </a>
    </div>
    <div class="product">
        <a class="mujeresTexto" asp-area="" asp-controller="Home" asp-action="CatalogoJoyeria">
            <img src="~/Imagenes/Accesorios/Joyeria.png">
            <div class="product-text">
                <p>JOYERÍA</p>
            </div>
        </a>
    </div>
    <div class="product">
        <a href="#">
            <img src="~/Imagenes/Accesorios/Bufanda.png">
            <div class="product-text">
                <p>BUFANDAS</p>
            </div>
        </a>
    </div>
    <div class="product">
        <a href="#">
            <img src="~/Imagenes/Accesorios/Corbatas.png">
            <div class="product-text">
                <p>CORBATAS</p>
            </div>
        </a>
    </div>
    <div class="product">
        <a href="#">
            <img src="~/Imagenes/Accesorios/Gafas.png">
            <div class="product-text">
                <p>GAFAS</p>
            </div>
        </a>
    </div>
    <div class="product">
        <a href="#">
            <img src="~/Imagenes/Accesorios/Reloj.png">
            <div class="product-text">
                <p>RELOJES</p>
            </div>
        </a>
    </div>
</div>

<!-- PRODUCTOS -->
<section class="contenedor">
    <div class="contenedor-items">
        <!-- Producto 1 -->
        <div class="item">
            <span class="titulo-item">ARETE TOPO PANDERO</span>
            <img src="~/imagenes/Accesorios/Joyeria1.png" class="img-item">
            <span class="precio-item">$160.90</span>
            <a class="mujeresTexto" asp-area="" asp-controller="Home" asp-action="DetallesJoyeria">
                <button class="boton-item">Ver Detalles</button>
            </a>
        </div>
        <div class="item">
            <span class="titulo-item">SET X 3 EARCUFF</span>
            <img src="~/imagenes/Accesorios/Joyeria2.png" class="img-item">
            <span class="precio-item">$149.90</span>
            <a href="#">
                <button class="boton-item">Ver Detalles</button>
            </a>
        </div>
        <div class="item">
            <span class="titulo-item">ANILLO SOLITARIO</span>
            <img src="~/imagenes/Accesorios/Joyeria3.png" class="img-item">
            <span class="precio-item">$250.00</span>
            <a href="#">
                <button class="boton-item">Ver Detalles</button>
            </a>
        </div>
        <div class="item">
            <span class="titulo-item">ANILLO CRUZADO</span>
            <img src="~/imagenes/Accesorios/Joyeria4.png" class="img-item">
            <span class="precio-item">$160.00</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">FILI ARETE EN GANCHO</span>
            <img src="~/imagenes/Accesorios/Joyeria5.png" class="img-item">
            <span class="precio-item">$230.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item"> FILI DIJE HOJA</span>
            <img src="~/imagenes/Accesorios/Joyeria6.png" class="img-item">
            <span class="precio-item">$159.90</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">COLLAR RENACER NUDE</span>
            <img src="~/imagenes/Accesorios/Joyeria7.png" class="img-item">
            <span class="precio-item">$140.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">COLLAR GARGANTILLA</span>
            <img src="~/imagenes/Accesorios/Joyeria8.png" class="img-item">
            <span class="precio-item">$308.90</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">COLLAR KARLA DE DAYANA</span>
            <img src="~/imagenes/Accesorios/Joyeria9.png" class="img-item">
            <span class="precio-item">$189.00</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">ARETES TREBOL ESMERALDA</span>
            <img src="~/imagenes/Accesorios/Joyeria10.png" class="img-item">
            <span class="precio-item">$480.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">ARETE GALÁCTICA STAR </span>
            <img src="~/imagenes/Accesorios/Joyeria11.png" class="img-item">
            <span class="precio-item">270.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">ARETE SQUARE PEQUEÑO</span>
            <img src="~/imagenes/Accesorios/Joyeria12.png" class="img-item">
            <span class="precio-item">$370.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">TOPOS RAMA DE OLIVA</span>
            <img src="~/imagenes/Accesorios/Joyeria13.png" class="img-item">
            <span class="precio-item">$140.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">TOPOS GOTA COLGANTE</span>
            <img src="~/imagenes/Accesorios/Joyeria14.png" class="img-item">
            <span class="precio-item">187.90</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">CANDONGAS TIMELESS</span>
            <img src="~/imagenes/Accesorios/Joyeria15.png" class="img-item">
            <span class="precio-item">$120.90</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
    </div>
    </div>
</section>

