@{
    ViewData["Title"] = "Catalogo Pantalones";
}

@section Styles{
    <link rel="stylesheet" href="~/css/StylesCatalogo.css" />
}

<!-- ====== Productos ====== -->
<div class="product-container">
    <div class="product">
        <a class="mujeresTexto" asp-area="" asp-controller="Home" asp-action="CatalogoSacos">
            <img src="~/Imagenes/PagMujer/Sacos.jpeg">
            <div class="product-text">
                <p>SACOS</p>
            </div>
        </a>
    </div>
    <div class="product">
        <a class="mujeresTexto" asp-area="" asp-controller="Home" asp-action="CatalogoPantalones">
            <img src="~/Imagenes/PagMujer/Pantalones.jpeg">
            <div class="product-text">
                <p>PANTALONES</p>
            </div>
        </a>
    </div>
    <div class="product">
        <a href="#">
            <img src="~/Imagenes/PagMujer/Camisas.jpeg">
            <div class="product-text">
                <p>CAMISAS</p>
            </div>
        </a>
    </div>
    <div class="product">
        <a href="#">
            <img src="~/Imagenes/PagMujer/Faldas.jpeg">
            <div class="product-text">
                <p>FALDAS</p>
            </div>
        </a>
    </div>
    <div class="product">
        <a href="#">
            <img src="~/Imagenes/PagMujer/Vestidos.jpeg">
            <div class="product-text">
                <p>VESTIDOS</p>
            </div>
        </a>
    </div>
    <div class="product">
        <a href="#">
            <img src="~/Imagenes/PagMujer/Abrigos.jpeg">
            <div class="product-text">
                <p>ABRIGOS</p>
            </div>
        </a>
    </div>
</div>

<!-- PRODUCTOS -->
<section class="contenedor">
    <div class="contenedor-items">
        <!-- Producto 1 -->
        <div class="item">
            <span class="titulo-item">SAMANTHA DOUBLE CREPE</span>
            <img src="~/imagenes/PagMujer/pantalon (1).jpg" class="img-item">
            <span class="precio-item">$850.00</span>
            <a href="#">
                <button class="boton-item">Ver Detalles</button>
            </a>
        </div>
        <div class="item">
            <span class="titulo-item">JOPLIN FLORAL LACE</span>
            <img src="~/imagenes/PagMujer/pantalon (2).jpg" class="img-item">
            <span class="precio-item">$580.00</span>
            <a href="#">
                <button class="boton-item">Ver Detalles</button>
            </a>
        </div>
        <div class="item">
            <span class="titulo-item"> JOPLIN WOOL BELL </span>
            <img src="~/imagenes/PagMujer/pantalon (3).jpg" class="img-item">
            <span class="precio-item">$610.99</span>
            <a href="#">
                <button class="boton-item">Ver Detalles</button>
            </a>
        </div>
        <div class="item">
            <span class="titulo-item">COTTON CARGO</span>
            <img src="~/imagenes/PagMujer/pantalon (4).jpg" class="img-item">
            <span class="precio-item">$490.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item"> STRETCH LEATHER LEGGINGS</span>
            <img src="~/imagenes/PagMujer/pantalon (16).jpg" class="img-item">
            <span class="precio-item">$539.90</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item"> NYLON LEGGINGS</span>
            <img src="~/imagenes/PagMujer/pantalon (6).jpg" class="img-item">
            <span class="precio-item">$300.95</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">STRETCH WOOL PANTS</span>
            <img src="~/imagenes/PagMujer/pantalon (7).jpg" class="img-item">
            <span class="precio-item">$210.990</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">SEQUINED STRETCH LEGGINGS</span>
            <img src="~/imagenes/PagMujer/pantalon (8).jpg" class="img-item">
            <span class="precio-item">$359.60</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item"> CREPE STRAIGHT-LEG PANTS</span>
            <img src="~/imagenes/PagMujer/pantalon (9).jpg" class="img-item">
            <span class="precio-item">$900.00</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">SATIN PANTS</span>
            <img src="~/imagenes/PagMujer/pantalon (10).jpg" class="img-item">
            <span class="precio-item">$400.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">CREPE WIDE-LEG PANTS</span>
            <img src="~/imagenes/PagMujer/pantalon (11).jpg" class="img-item">
            <span class="precio-item">$597.98</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">STRETCH DENIM FLARED JEANS</span>
            <img src="~/imagenes/PagMujer/pantalon (12).jpg" class="img-item">
            <span class="precio-item">$460.95</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">LINEN BLEND PANTS</span>
            <img src="~/imagenes/PagMujer/pantalon (13).jpg" class="img-item">
            <span class="precio-item">$630.95</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">DENIM FLARED JEANS</span>
            <img src="~/imagenes/PagMujer/pantalon (14).jpg" class="img-item">
            <span class="precio-item">$440.98</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">DENIM JEANS</span>
            <img src="~/imagenes/PagMujer/pantalon (15).jpg" class="img-item">
            <span class="precio-item">$499.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">STRIPED WIDE-LEG PANTS</span>
            <img src="~/imagenes/PagMujer/pantalon (5).jpg" class="img-item">
            <span class="precio-item">$590.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
    </div>
</section>