@{
    ViewData["Title"] = "Catalogo Chaquetas";
}

@section Styles{
    <link rel="stylesheet" href="~/css/StylesCatalogo.css" />
}

<!-- ====== Productos ====== -->
<div class="product-container">
    <div class="product">
        <a class="mujeresTexto" asp-area="" asp-controller="Home" asp-action="CatalogoTrajes">
            <img src="~/Imagenes/PaginaHombre/Trajes.png">
            <div class="product-text">
                <p>TRAJES</p>
            </div>
        </a>
    </div>
    <div class="product">
        <a class="mujeresTexto" asp-area="" asp-controller="Home" asp-action="CatalogoChaquetas">
            <img src="~/Imagenes/PaginaHombre/Chaquetas.png">
            <div class="product-text">
                <p>CHAQUETAS</p>
            </div>
        </a>
    </div>
    <div class="product">
        <a href="#">
            <img src="~/Imagenes/PaginaHombre/Camisetas.png">
            <div class="product-text">
                <p>CAMISETAS</p>
            </div>
        </a>
    </div>
    <div class="product">
        <a href="#">
            <img src="~/Imagenes/PaginaHombre/Pantalones.png">
            <div class="product-text">
                <p>PANTALONES</p>
            </div>
        </a>
    </div>
    <div class="product">
        <a href="#">
            <img src="~/Imagenes/PaginaHombre/Sueteres.png">
            <div class="product-text">
                <p>SUETERES</p>
            </div>
        </a>
    </div>
    <div class="product">
        <a href="#">
            <img src="~/Imagenes/PaginaHombre/Camisas.png">
            <div class="product-text">
                <p>CAMISAS</p>
            </div>
        </a>
    </div>
</div>

<!-- PRODUCTOS -->
<section class="contenedor">
    <div class="contenedor-items">
        <!-- Producto 1 -->
        <div class="item">
            <span class="titulo-item">FAUX FUR TRIM WOVEN PARKA</span>
            <img src="~/imagenes/PaginaHombre/Chaquetas/Chaqueta 10.jpeg" class="img-item">
            <span class="precio-item">$200.00</span>
            <a class="mujeresTexto" asp-area="" asp-controller="Home" asp-action="DetallesChaquetas">
                <button class="boton-item">Ver Detalles</button>
            </a>
        </div>
        <div class="item">
            <span class="titulo-item">STRETCH WOOL BOMBER JACKET</span>
            <img src="~/Imagenes/PaginaHombre/Chaquetas/Chaqueta 8.jpeg" class="img-item">
            <span class="precio-item">$379.99</span>
            <a class="mujeresTexto" asp-area="" asp-controller="Home" asp-action="DetallesChaquetas2">
                <button class="boton-item">Ver Detalles</button>
            </a>
        </div>
        <div class="item">
            <span class="titulo-item"> LEATHER RACER JACKET</span>
            <img src="~/Imagenes/PaginaHombre/Chaquetas/Chaqueta 1.jpeg" class="img-item">
            <span class="precio-item">$239.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item"> PONTE JACKET</span>
            <img src="~/Imagenes/PaginaHombre/Chaquetas/Chaqueta 2.jpeg" class="img-item">
            <span class="precio-item">$454.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">BARRACUTA WOVEN JACKET</span>
            <img src="~/Imagenes/PaginaHombre/Chaquetas/Chaqueta 3.jpeg" class="img-item">
            <span class="precio-item">$539.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item"> SUEDE JACKET</span>
            <img src="~/Imagenes/PaginaHombre/Chaquetas/Chaqueta 4.jpeg" class="img-item">
            <span class="precio-item">$359.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">LEATHER PUFFER JACKET</span>
            <img src="~/Imagenes/PaginaHombre/Chaquetas/Chaqueta 5.jpeg" class="img-item">
            <span class="precio-item">$400.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">QUILTED JACKET</span>
            <img src="~/Imagenes/PaginaHombre/Chaquetas/Chaqueta 6.jpeg" class="img-item">
            <span class="precio-item">$359.990</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">STRETCH COTTON FIELD JACKET</span>
            <img src="~/Imagenes/PaginaHombre/Chaquetas/Chaqueta 7.jpeg" class="img-item">
            <span class="precio-item">$899.00</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">MK X ELLESSE JACKSON NYLON</span>
            <img src="~/Imagenes/PaginaHombre/Chaquetas/Chaqueta 11.jpeg" class="img-item">
            <span class="precio-item">$340.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">MK X ELLESSE WOVEN JACKET</span>
            <img src="~/Imagenes/PaginaHombre/Chaquetas/Chaqueta 12.jpeg" class="img-item">
            <span class="precio-item">$497.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">CORDUROY SHIRT JACKET</span>
            <img src="~/Imagenes/PaginaHombre/Chaquetas/Chaqueta 13.jpeg" class="img-item">
            <span class="precio-item">$300.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">EDGWARE PUFFER JACKET</span>
            <img src="~/Imagenes/PaginaHombre/Chaquetas/Chaqueta 14.jpeg" class="img-item">
            <span class="precio-item">$622.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">SUEDE ZIP-UP TRUCKER JACKET</span>
            <img src="~/Imagenes/PaginaHombre/Chaquetas/Chaqueta 9.jpeg" class="img-item">
            <span class="precio-item">$450.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">CROCODILE BOMBER JACKET</span>
            <img src="~/Imagenes/PaginaHombre/Chaquetas/Chaqueta 16.jpeg" class="img-item">
            <span class="precio-item">$510.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">BOMBER JACKET</span>
            <img src="~/Imagenes/PaginaHombre/Chaquetas/Chaqueta 15.jpeg" class="img-item">
            <span class="precio-item">$467.95</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
    </div>
</section>
