@{
    ViewData["Title"] = "Catalogo Sacos";
}

@section Styles{
    <link rel="stylesheet" href="~/css/StylesCatalogo.css" />
}

<!-- ====== Productos ====== -->
<div class="product-container">
    <div class="product">
        <a class="mujeresTexto" asp-area="" asp-controller="Home" asp-action="CatalogoSacos">
            <img src="~/Imagenes/PagMujer/Sacos.jpeg">
            <div class="product-text">
                <p>SACOS</p>
            </div>
        </a>
    </div>
    <div class="product">
        <a class="mujeresTexto" asp-area="" asp-controller="Home" asp-action="CatalogoPantalones">
            <img src="~/Imagenes/PagMujer/Pantalones.jpeg">
            <div class="product-text">
                <p>PANTALONES</p>
            </div>
        </a>
    </div>
    <div class="product">
        <a href="#">
            <img src="~/Imagenes/PagMujer/Camisas.jpeg">
            <div class="product-text">
                <p>CAMISAS</p>
            </div>
        </a>
    </div>
    <div class="product">
        <a href="#">
            <img src="~/Imagenes/PagMujer/Faldas.jpeg">
            <div class="product-text">
                <p>FALDAS</p>
            </div>
        </a>
    </div>
    <div class="product">
        <a href="#">
            <img src="~/Imagenes/PagMujer/Vestidos.jpeg">
            <div class="product-text">
                <p>VESTIDOS</p>
            </div>
        </a>
    </div>
    <div class="product">
        <a href="#">
            <img src="~/Imagenes/PagMujer/Abrigos.jpeg">
            <div class="product-text">
                <p>ABRIGOS</p>
            </div>
        </a>
    </div>
</div>

<!-- PRODUCTOS -->
<section class="contenedor">
    <div class="contenedor-items">
        <!-- Producto 1 -->
        <div class="item">
            <span class="titulo-item">FEATHER WOOL BLEND</span>
            <img src="~/imagenes/PagMujer/saco.jpg" class="img-item">
            <span class="precio-item">$850.00</span>
            <a class="mujeresTexto" asp-area="" asp-controller="Home" asp-action="DetallesSacos">
                <button class="boton-item">Ver Detalles</button>
            </a>
        </div>
        <div class="item">
            <span class="titulo-item">RIBBED WOOL BLEND</span>
            <img src="~/imagenes/PagMujer/saco (1).jpg" class="img-item">
            <span class="precio-item">$580.00</span>
            <a href="#">
                <button class="boton-item">Ver Detalles</button>
            </a>
        </div>
        <div class="item">
            <span class="titulo-item"> WOOL BLEND HALF-ZIP </span>
            <img src="~/imagenes/PagMujer/saco (2).jpg" class="img-item">
            <span class="precio-item">$610.99</span>
            <a href="#">
                <button class="boton-item">Ver Detalles</button>
            </a>
        </div>
        <div class="item">
            <span class="titulo-item">CORALLINA CASHMERE</span>
            <img src="~/imagenes/PagMujer/saco (14).jpg" class="img-item">
            <span class="precio-item">$490.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">GREY WOOL BLEND </span>
            <img src="~/imagenes/PagMujer/saco (11).jpg" class="img-item">
            <span class="precio-item">$539.90</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item"> WOOL BLEND PONCHO</span>
            <img src="~/imagenes/PagMujer/saco (7).jpg" class="img-item">
            <span class="precio-item">$259.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">RIBBED WOOL BLEND</span>
            <img src="~/imagenes/PagMujer/saco (5).jpg" class="img-item">
            <span class="precio-item">$210.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">WHITE SUPIMA COTTON</span>
            <img src="~/imagenes/PagMujer/saco (6).jpg" class="img-item">
            <span class="precio-item">$359.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item"> DARK JOAN CASHMERE</span>
            <img src="~/imagenes/PagMujer/saco (9).jpg" class="img-item">
            <span class="precio-item">$899.00</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">METALLIC RIBBED KNIT</span>
            <img src="~/imagenes/PagMujer/saco (10).jpg" class="img-item">
            <span class="precio-item">$340.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">MERINO WOOL BLEND</span>
            <img src="~/imagenes/PagMujer/saco (15).jpg" class="img-item">
            <span class="precio-item">$497.95</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">CASHMERE POLO-NECK</span>
            <img src="~/imagenes/PagMujer/saco (13).jpg" class="img-item">
            <span class="precio-item">$160.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">JACQUARD PONCHO</span>
            <img src="~/imagenes/PagMujer/saco (12).jpg" class="img-item">
            <span class="precio-item">$622.98</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">TAN CASHMERE BLEND</span>
            <img src="~/imagenes/PagMujer/saco (4).jpg" class="img-item">
            <span class="precio-item">$326.90</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">BRUSHED TIGER WOOL</span>
            <img src="~/imagenes/PagMujer/saco (3).jpg" class="img-item">
            <span class="precio-item">$411.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">WOOL TURTLENECK</span>
            <img src="~/imagenes/PagMujer/saco (8).jpg" class="img-item">
            <span class="precio-item">$367.90</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
    </div>
</section>
