@{
    ViewData["Title"] = "Bolsos";
}

@section Styles{
    <link rel="stylesheet" href="~/css/StylesCatalogo.css" />
}


<!-- ====== Productos ====== -->
<div class="product-container">
    <div class="product">
            <a class="mujeresTexto" asp-area="" asp-controller="Home" asp-action="CatalogoBolsos">
            <img src="~/Imagenes/Accesorios/Bolsos.png">
            <div class="product-text">
                <p>BOLSOS</p>
            </div>
        </a>
    </div>
    <div class="product">
            <a class="mujeresTexto" asp-area="" asp-controller="Home" asp-action="CatalogoJoyeria">
            <img src="~/Imagenes/Accesorios/Joyeria.png">
            <div class="product-text">
                <p>JOYERÍA</p>
            </div>
        </a>
    </div>
    <div class="product">
        <a href="#">
            <img src="~/Imagenes/Accesorios/Bufanda.png">
            <div class="product-text">
                <p>BUFANDAS</p>
            </div>
        </a>
    </div>
    <div class="product">
        <a href="#">
            <img src="~/Imagenes/Accesorios/Corbatas.png">
            <div class="product-text">
                <p>CORBATAS</p>
            </div>
        </a>
    </div>
    <div class="product">
        <a href="#">
            <img src="~/Imagenes/Accesorios/Gafas.png">
            <div class="product-text">
                <p>GAFAS</p>
            </div>
        </a>
    </div>
    <div class="product">
        <a href="#">
            <img src="~/Imagenes/Accesorios/Reloj.png">
            <div class="product-text">
                <p>RELOJES</p>
            </div>
        </a>
    </div>
</div>

<!-- PRODUCTOS -->
<section class="contenedor">
    <div class="contenedor-items">
        <!-- Producto 1 -->
        <div class="item">
            <span class="titulo-item">BILLETERA CON CREMALLERA</span>
            <img src="~/imagenes/Accesorios/Bolso1.png" class="img-item">
            <span class="precio-item">$47.90</span>
            <a class="mujeresTexto" asp-area="" asp-controller="Home" asp-action="DetallesBolsos">
                <button class="boton-item">Ver Detalles</button>
            </a>
        </div>
        <div class="item">
            <span class="titulo-item">BOLSO BLANCO CASUAL</span>
            <img src="~/Imagenes/Accesorios/Bolso2.png" class="img-item">
            <span class="precio-item">$139.90</span>
            <a class="mujeresTexto" asp-area="" asp-controller="Home" asp-action="DetallesBolsos2">
                <button class="boton-item">Ver Detalles</button>
            </a>
        </div>
        <div class="item">
            <span class="titulo-item">BOLSO TIPO BUCKET</span>
            <img src="~/Imagenes/Accesorios/Bolso3.png" class="img-item">
            <span class="precio-item">$129.00</span>
            <a href="#">
                <button class="boton-item">Ver Detalles</button>
            </a>
        </div>
        <div class="item">
            <span class="titulo-item">BOLOSO CUERO NEGRO</span>
            <img src="~/Imagenes/Accesorios/Bolso4.png" class="img-item">
            <span class="precio-item">$129.90</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">BOLSO EUROPEO GRAY</span>
            <img src="~/Imagenes/Accesorios/Bolso5.png" class="img-item">
            <span class="precio-item">$139.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item"> BOLSO CUERO MARRÓN</span>
            <img src="~/Imagenes/Accesorios/Bolso6.png" class="img-item">
            <span class="precio-item">$159.90</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">BOLSO TEJIDOS CON CORREOS</span>
            <img src="~/Imagenes/Accesorios/Bolso7.png" class="img-item">
            <span class="precio-item">$110.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">BOLSO DE MANO MARRÓN</span>
            <img src="~/Imagenes/Accesorios/Bolso8.png" class="img-item">
            <span class="precio-item">$159.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">BOLSO DE MANO NEGRO</span>
            <img src="~/Imagenes/Accesorios/Bolso9.png" class="img-item">
            <span class="precio-item">$129.00</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">BOLSO AZUL</span>
            <img src="~/Imagenes/Accesorios/Bolso10.png" class="img-item">
            <span class="precio-item">$340.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">BOLSO TIPO HOBO</span>
            <img src="~/Imagenes/Accesorios/Bolso11.png" class="img-item">
            <span class="precio-item">197.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">BOLSITO NEGRO</span>
            <img src="~/Imagenes/Accesorios/Bolso12.png" class="img-item">
            <span class="precio-item">$160.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
    </div>
</section>

