@{
    ViewData["Title"] = "Catalogo Trajes";
}

@section Styles{
    <link rel="stylesheet" href="~/css/StylesCatalogo.css" />
}

<!-- ====== Productos ====== -->
<div class="product-container">
    <div class="product">
        <a class="mujeresTexto" asp-area="" asp-controller="Home" asp-action="CatalogoTrajes">
            <img src="~/Imagenes/PaginaHombre/Trajes.png">
            <div class="product-text">
                <p>TRAJES</p>
            </div>
        </a>
    </div>
    <div class="product">
        <a class="mujeresTexto" asp-area="" asp-controller="Home" asp-action="CatalogoChaquetas">
            <img src="~/Imagenes/PaginaHombre/Chaquetas.png">
            <div class="product-text">
                <p>CHAQUETAS</p>
            </div>
        </a>
    </div>
    <div class="product">
        <a href="#">
            <img src="~/Imagenes/PaginaHombre/Camisetas.png">
            <div class="product-text">
                <p>CAMISETAS</p>
            </div>
        </a>
    </div>
    <div class="product">
        <a href="#">
            <img src="~/Imagenes/PaginaHombre/Pantalones.png">
            <div class="product-text">
                <p>PANTALONES</p>
            </div>
        </a>
    </div>
    <div class="product">
        <a href="#">
            <img src="~/Imagenes/PaginaHombre/Sueteres.png">
            <div class="product-text">
                <p>SUETERES</p>
            </div>
        </a>
    </div>
    <div class="product">
        <a href="#">
            <img src="~/Imagenes/PaginaHombre/Camisas.png">
            <div class="product-text">
                <p>CAMISAS</p>
            </div>
        </a>
    </div>
</div>

<!-- PRODUCTOS -->
<section class="contenedor">
    <div class="contenedor-items">
        <!-- Producto 1 -->
        <div class="item">
            <span class="titulo-item">TRAJE EUROPEO NUIT</span>
            <img src="~/imagenes/PaginaHombre/Traje1.jpg" class="img-item">
            <span class="precio-item">$200.00</span>
            <a class="mujeresTexto" asp-area="" asp-controller="Home" asp-action="DetallesTrajes">
                <button class="boton-item">Ver Detalles</button>
            </a>
        </div>
        <div class="item">
            <span class="titulo-item">TRAJE EUROPEO WINE</span>
            <img src="~/Imagenes/PaginaHombre/Traje2.jpg" class="img-item">
            <span class="precio-item">$379.99</span>
            <a class="mujeresTexto" asp-area="" asp-controller="Home" asp-action="DetallesTrajes2">
                <button class="boton-item">Ver Detalles</button>
            </a>
        </div>
        <div class="item">
            <span class="titulo-item"> TRAJE EUROPEO POUR</span>
            <img src="~/Imagenes/PaginaHombre/Traje3.jpg" class="img-item">
            <span class="precio-item">$239.99</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">TRAJE EUROPEO BEAU</span>
            <img src="~/Imagenes/PaginaHombre/Traje4.jpg" class="img-item">
            <span class="precio-item">$454.990</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">TRAJE EUROPEO GRAY</span>
            <img src="~/Imagenes/PaginaHombre/Traje_2 (1).jpg" class="img-item">
            <span class="precio-item">$539.990</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item"> TRAJE EUROPEO YARA</span>
            <img src="~/Imagenes/PaginaHombre/Traje_2 (2).jpg" class="img-item">
            <span class="precio-item">$259.990</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">TRAJE EUROPEO EROS</span>
            <img src="~/Imagenes/PaginaHombre/Traje_2 (3).jpg" class="img-item">
            <span class="precio-item">$210.990</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">TRAJE EUROPEO OUD</span>
            <img src="~/Imagenes/PaginaHombre/Traje_2 (4).jpg" class="img-item">
            <span class="precio-item">$359.990</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">TRAJE EUROPEO LIGHT</span>
            <img src="~/Imagenes/PaginaHombre/Traje_3 (1).jpg" class="img-item">
            <span class="precio-item">$899.000</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">TRAJE EUROPEO BUD</span>
            <img src="~/Imagenes/PaginaHombre/Traje_3 (2).jpg" class="img-item">
            <span class="precio-item">$340.990</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">TRAJE EUROPEO LID</span>
            <img src="~/Imagenes/PaginaHombre/Traje_3 (3).jpg" class="img-item">
            <span class="precio-item">$497.990</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">TRAJE EUROPEO DARK</span>
            <img src="~/Imagenes/PaginaHombre/Traje_3 (4).jpg" class="img-item">
            <span class="precio-item">$160.990</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">TRAJE EUROPEO SIN</span>
            <img src="~/Imagenes/PaginaHombre/Traje_4 (1).jpg" class="img-item">
            <span class="precio-item">$622.990</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">TRAJE EUROPEO EILISH</span>
            <img src="~/Imagenes/PaginaHombre/Traje_4 (2).jpg" class="img-item">
            <span class="precio-item">$326990</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">TRAJE EUROPEO RICH</span>
            <img src="~/Imagenes/PaginaHombre/Traje_4 (3).jpg" class="img-item">
            <span class="precio-item">$411.990</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
        <div class="item">
            <span class="titulo-item">TRAJE EUROPEO DUN</span>
            <img src="~/Imagenes/PaginaHombre/Traje_4 (4).jpg" class="img-item">
            <span class="precio-item">$367.990</span>
            <button class="boton-item">Ver Detalles</button>
        </div>
    </div>
</section>

