@model Liana.Models.DetalleTrajes
@{
    ViewData["Title"] = "TRAJE EUROPEO NUIT";
}

@section Styles{
    <link rel="stylesheet" href="~/css/StylesDetalles.css" />
}
<div class="container-img">
    <img src="~/Imagenes/PaginaHombre/Traje1.jpg" alt="Miss Dior" />
</div>

<div class="container-info-producto">
    <div class="container-precio">
        <span>$200.00</span>
    </div>

    <div class="container-detalles-producto">
        <div class="form-group">
            <label for="talla">Talla</label>
            <select name="talla" id="talla">
                <option value="">Escoge una opción</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
            </select>
        </div>
    </div>

    <div class="container-add-carrito">
        <div class="container-cantidad">
            <p>Cantidad: <input type="number" id="quantity" value="1"></p>
        </div>

        <button class="btn-add-to-carrito" onclick="agregarAlCarrito()">
            <i class="fa-solid fa-plus"></i>
            Agregar al Carrito
        </button>
    </div>

    <div class="container-descripcion">
        <div class="title-descripcion">
            <h4>Descripción</h4>
            <i class="fa-solid fa-chevron-down"></i>
        </div>

        <div class="text-descripcion">
            <p>
                @Model.Descripcion
            </p>
        </div>
    </div>

    <div class="container-info-adicional">
        <div class="title-info-adicional">
            <h4>Información Adicional</h4>
            <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="text-info-adicional">
            <p>----------</p>
        </div>
    </div>

    <div class="container-reviews">
        <div class="title-reviews">
            <h4>Reseñas</h4>
            <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="text-reviews">
            <p>----------</p>
        </div>
    </div>

    <div class="container-redes">
        <span>Compartir</span>
        <div class="container-botones-redes">
            <a href="https://www.tiktok.com/es/"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com/?locale=es_LA"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://twitter.com/?lang=es"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.youtube.com/?gl=CO&hl=es-419"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </div>
</div>
   
<section class="container-productos-relacionados">
    <h2>Productos Relacionados</h2>
    <div class="card-lista-productos">

        <div class="card">
            <div class="card-img">
                <img src="~/Imagenes/PaginaHombre/Traje_2 (4).jpg" alt="producto-1">
            </div>
            <div class="info-card">
                <div class="text-product">
                    <h3>TRAJE EUROPEO OUD</h3>
                    <p class="category">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga similique, sed, impedit quo quidem iure incidunt molestias aliquid voluptas, non veritatis molestiae perspiciatis laborum libero aut modi culpa iusto voluptatibus.
                    </p>
                </div>
                <div class="precio">$280.00</div>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
                <img src="~/Imagenes/PaginaHombre/Traje_3 (3).jpg" alt="producto-1">
            </div>
            <div class="info-card">
                <div class="text-product">
                    <h3>TRAJE EUROPEO LID</h3>
                    <p class="category">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga similique, sed, impedit quo quidem iure incidunt molestias aliquid voluptas, non veritatis molestiae perspiciatis laborum libero aut modi culpa iusto voluptatibus.
                    </p>
                </div>
                <div class="precio">$300.00</div>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
                <img src="~/Imagenes/PaginaHombre/Traje_2 (2).jpg" alt="producto-1">
            </div>
            <div class="info-card">
                <div class="text-product">
                    <h3>TRAJE EUROPEO YARA</h3>
                    <p class="category">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga similique, sed, impedit quo quidem iure incidunt molestias aliquid voluptas, non veritatis molestiae perspiciatis laborum libero aut modi culpa iusto voluptatibus.
                    </p>
                </div>
                <div class="precio">$280.00</div>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
                <img src="~/Imagenes/PaginaHombre/Traje_4 (3).jpg" alt="producto-1">
            </div>
            <div class="info-card">
                <div class="text-product">
                    <h3>TRAJE EUROPEO RICH</h3>
                    <p class="category">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga similique, sed, impedit quo quidem iure incidunt molestias aliquid voluptas, non veritatis molestiae perspiciatis laborum libero aut modi culpa iusto voluptatibus.
                    </p>
                </div>
                <div class="precio">$150.00</div>
            </div>
        </div>
    </div>
</section>

<script src="~/js/Pagina2.js" asp-append-version="true"></script>
