@{
    ViewData["Title"] = "Descubre Tu Estilo Elegante";
}

@section Styles{
    <link rel="stylesheet" href="~/css/StylesDTE.css" />
}

<section>
    <nav class="navbar2">
        <div class="nav-list d-flex">
            <a class="mujeresTexto" asp-area="" asp-controller="Home" asp-action="DTEElegante">Elegante</a>
            <a href="#">Casual</a>
            <a href="#">Party</a>
            <a href="#">Trendy</a>
        </div>
    </nav>

    <section class="contenedor">
        <div class="class-contenedor">
            <div class="item">
                <img src="~/Imagenes/PagMujer/DTEE.jpg" alt="img-item">
            </div>
            <div class="item">
                <img src="~/Imagenes/PagMujer/DTEE(1).jpg" alt="img-item">
            </div>
            <div class="item">
                <img src="~/Imagenes/PagMujer/DTEE(2).jpg" alt="img-item">
            </div>
            <div class="item">
                <img src="~/Imagenes/PagMujer/DTEE(6).jpg" alt="img-item">
            </div>
            <div class="item">
                <img src="~/Imagenes/PagMujer/DTEE(4).jpg" alt="img-item">
            </div>
            <div class="item">
                <img src="~/Imagenes/PagMujer/DTEE(5).jpg" alt="img-item">
            </div>
            <div class="item">
                <img src="~/Imagenes/PagMujer/DTEE(3).jpg" alt="img-item">
            </div>
            <div class="item">
                <img src="~/Imagenes/PagMujer/DTEE(7).jpg" alt="img-item">
            </div>
            <div class="item">
                <img src="~/Imagenes/PagMujer/DTEE(8).jpg" alt="img-item">
            </div>
            <div class="item">
                <img src="~/Imagenes/PagMujer/DTEE(9).jpg" alt="img-item">
            </div>
            <div class="item">
                <img src="~/Imagenes/PagMujer/DTEE(10).jpg" alt="img-item">
            </div>
            <div class="item">
                <img src="~/Imagenes/PagMujer/DTEE(11).jpg" alt="img-item">
            </div>
        </div>
    </section>

</section>
