@{
    ViewData["Title"] = "Descubre Tu Estilo Elegante";
}

@section Styles{
    <link rel="stylesheet" href="~/css/StylesDTE.css" />
}

<section>
    <nav class="navbar2">
        <div class="nav-list d-flex">
            <a class="mujeresTexto" asp-area="" asp-controller="Home" asp-action="DTEEleganteH">Elegante</a>
            <a href="#">Casual</a>
            <a href="#">Party</a>
            <a href="#">Trendy</a>
        </div>
    </nav>

    <section class="contenedor">
        <div class="class-contenedor">
            <div class="item">
                <img src="~/Imagenes/PaginaHombre/DTEEH1.jpg" alt="img-item">
            </div>
            <div class="item">
                <img src="~/Imagenes/PaginaHombre/DTEEH2.jpg" alt="img-item">
            </div>
            <div class="item">
                <img src="~/Imagenes/PaginaHombre/DTEEH3.jpg" alt="img-item">
            </div>
            <div class="item">
                <img src="~/Imagenes/PaginaHombre/DTEEH4.jpg" alt="img-item">
            </div>
            <div class="item">
                <img src="~/Imagenes/PaginaHombre/DTEEH5.jpg" alt="img-item">
            </div>
            <div class="item">
                <img src="~/Imagenes/PaginaHombre/DTEEH6.jpg" alt="img-item">
            </div>
            <div class="item">
                <img src="~/Imagenes/PaginaHombre/DTEEH7.jpg" alt="img-item">
            </div>
            <div class="item">
                <img src="~/Imagenes/PaginaHombre/DTEEH8.jpg" alt="img-item">
            </div>
        </div>
    </section>

</section>
